<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Table List</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div
      class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-lg bg-clip-border"
    >
      <table class="w-full text-left table-auto min-w-max">
        <thead>
          <tr>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
              <p class="block text-sm font-normal leading-none text-slate-500">
                名稱
              </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
              <p class="block text-sm font-normal leading-none text-slate-500">
                原價
              </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
              <p class="block text-sm font-normal leading-none text-slate-500">
                售價
              </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
              <p class="block text-sm font-normal leading-none text-slate-500">
                單位
              </p>
            </th>
            <th class="p-4 border-b border-slate-300 bg-slate-50">
              <p
                class="block text-sm font-normal leading-none text-slate-500"
              ></p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="hover:bg-slate-50">
            <td class="p-4 border-b border-slate-200">
              <p class="block text-sm text-slate-800">當季鮮甜西瓜</p>
            </td>
            <td class="p-4 border-b border-slate-200">
              <p class="block text-sm text-slate-800">55</p>
            </td>
            <td class="p-4 border-b border-slate-200">
              <p class="block text-sm text-slate-800">45</p>
            </td>
            <td class="p-4 border-b border-slate-200">
              <p class="block text-sm text-slate-800">公斤</p>
            </td>
            <td class="p-4 border-b border-slate-200">
              <a href="#" class="block text-sm font-semibold text-slate-800">
                查看產品詳情
              </a>
            </td>
          </tr>
          <tr class="hover:bg-slate-50">
            <td class="p-4 border-b border-slate-200">
              <p class="block text-sm text-slate-800">清香多汁新鮮柑橘</p>
            </td>
            <td class="p-4 border-b border-slate-200">
              <p class="block text-sm text-slate-800">40</p>
            </td>
            <td class="p-4 border-b border-slate-200">
              <p class="block text-sm text-slate-800">32</p>
            </td>
            <td class="p-4 border-b border-slate-200">
              <p class="block text-sm text-slate-800">顆</p>
            </td>
            <td class="p-4 border-b border-slate-200">
              <a href="#" class="block text-sm font-semibold text-slate-800">
                查看產品詳情
              </a>
            </td>
          </tr>
          <tr class="hover:bg-slate-50">
            <td class="p-4 border-b border-slate-200">
              <p class="block text-sm text-slate-800">清新酸香新鮮檸檬</p>
            </td>
            <td class="p-4 border-b border-slate-200">
              <p class="block text-sm text-slate-800">35</p>
            </td>
            <td class="p-4 border-b border-slate-200">
              <p class="block text-sm text-slate-800">28</p>
            </td>
            <td class="p-4 border-b border-slate-200">
              <p class="block text-sm text-slate-800">顆</p>
            </td>
            <td class="p-4 border-b border-slate-200">
              <a href="#" class="block text-sm font-semibold text-slate-800">
                查看產品詳情
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
